<app-home></app-home>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <ul class="tabs" materialize="tabs">
          <li class="tab col s6"><a href="#consulta">Consulta</a></li>
          <li class="tab col s6"><a href="#respuesta" id="reporteTab">Reporte</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row" id="consulta">
      <div class="col s12 m12 l12">
        <div class="card-panel hoverable">
        

          <h4 class="blue-text">Estado de Cuenta </h4>
          <h6 class="blue-text text-lighter-2">Información requerida para verificar el estado de cuenta</h6>
          <div class="divider"></div><br>
          <div class="row">
            <form #queryForm="ngForm" class="col s12" (ngSubmit)="consultar()" novalidate>
              <blockquote>
                <div class="row">
                  <div class="input-field col s12 col m10 offset-m1">
                    <select required="required">
                    <option value="" disabled selected>Consulta</option>
                    <option value="1">Todos</option>
                    <option value="2">Comparendo</option>
                    <option value="3">Resolucion</option>
                  </select>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12 col m10 offset-m1">
                    <select >
                    <option value="" disabled selected>Zona</option>
                    <option value="1">Bogota</option>
                    <option value="2">Medellin</option>
                    <option value="3">Cali</option>
                  </select>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12 col m11 offset-m1">
                    <div class="col s10 m11">
                      <input id="icon_prefix" type="text" class="validate" [(ngModel)]="placa" name="placa">
                      <label for="icon_prefix">Placa</label>
                    </div>
                    <div class="col s2 m1">
                      <a class="btn-floating btn-small waves-effect waves-light blue" (click)="incluirPlaca()">
                       <i class="material-icons">add</i>
                    </a>
                    </div>
                  </div>
                </div>
                <div class="col s12 m10 offset-m1">
                  <table class="striped bordered" *ngIf="placas.length > 0">
                    <tr>
                      <th>
                        Placas
                      </th>
                    </tr>
                    <tr *ngFor="let placa of placas">
                      <td>
                        {{placa}}
                      </td>
                    </tr>
                  </table>
                </div>
              </blockquote>
              <div class="row">
                <div class="row">
                  <div class="input-field col s12 m12 right-align">
                    <button type="submit" class="btn btn-primary blue" [disabled]="!queryForm.form.valid">
                       Consultar
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row" id="respuesta">
      <div class="col s12 m12 l12">
        <div class="card-panel hoverable">
          <h5 class="blue-text">Comparendos</h5>
          <div class="row">
            <div class=" search-table-outter wrapper ">
              <!-- <table class="search-table inner    striped ">
                <thead>
                  <tr>
                    <th>Comparendo</th>
                    <th>Fecha</th>
                    <th>Direccion</th>
                    <th>Estado</th>
                    <th>Foto Deteccion</th>
                    <th>Codigo</th>
                    <th>Total</th>
                    <th>Secretaria</th>
                    <th>Placa Vehiculo</th>
                    <th>TipoVehiculo</th>
                    <th>servicioVehiculo</th>
                    <th>Email</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let comparendo of comparendos">
                    <td>
                      {{ comparendo.numero }}
                    </td>
                    <td>
                      {{ comparendo.fecha }}
                    </td>
                    <td>
                      {{ comparendo.direccion }}
                    </td>
                    <td>
                      {{ comparendo.estado }}
                    </td>
                    <td>
                      {{ comparendo.fotodeteccion }}
                    </td>
                    <td>
                      {{ comparendo.codigo }}
                    </td>
                    <td>
                      {{ comparendo.total }}
                    </td>
                    <td>
                      {{ comparendo.secretaria }}
                    </td>
                    <td>
                      {{ comparendo.placaVehiculo }}
                    </td>
                    <td>
                      {{ comparendo.tipoVehiculo }}
                    </td>
                    <td>
                      {{ comparendo.servicioVehiculo }}
                    </td>
                    <td>
                      {{ comparendo.usuario.email }}
                    </td>

                  </tr>
                </tbody>
              </table> -->

 


            </div>
            <div class="input-field col s12 m12 right-align">
              <a type="button" class="btn btn-primary blue" (click)="generarReporte()">
                       Generar Reporte
                    </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
<script>
  $(".button-collapse").sideNav();

</script>