<div class="section">
  <div class="row">
    <div class="col s12">
      <ul class="tabs" materialize="tabs">
        <li class="tab col s6"><a href="#consulta">Consulta</a></li>
        <li class="tab col s6">Reporte</li>
      </ul>
    </div>
    <div class="row" id="consulta">
      <div class="col s12 m12 l12">
        <div class="card-panel hoverable">
          <h4 class="blue-text">Estado de Cuenta </h4>
          <h6 class="blue-text text-lighter-2">Información requerida para verificar el estado de cuenta</h6>
          <div class="divider"></div><br>
          <div class="row">
            <form class="col s12">
              <blockquote>
                <div class="row">
                  <div class="input-field col s12 col m10 offset-m1">
                    <select materialize="material_select" [materializeSelectOptions]="selectOptions">
                    <option value="" disabled selected>Consulta</option>
                    <option value="1">Todos</option>
                    <option value="2">Comparendo</option>
                    <option value="3">Resolucion</option>
                  </select>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12 col m10 offset-m1">
                    <select materialize="material_select" [materializeSelectOptions]="selectOptions" multiple>
                    <option value="" disabled selected>Zona</option>
                    <option value="1">Bogota</option>
                    <option value="2">Medellin</option>
                    <option value="3">Cali</option>
                  </select>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12 col m11 offset-m1">
                    <div class="col s11 m11">
                      <input id="icon_prefix" type="text" class="validate">
                      <label for="icon_prefix">Placa</label>
                    </div>
                    <div class="col s1 m1">
                      <a class="btn-floating btn-small waves-effect waves-light blue">
                       <i class="material-icons">add</i>
                    </a>
                    </div>
                  </div>
                </div>
              </blockquote>
              <div class="row">
                <div class="row">
                  <div class="input-field col s12 m12 right-align">
                    <a class="btn btn-primary blue">
                       Consultar
                  </a>
                  </div>
                </div>
              </div>
            </form>
            <div *ngIf="false">
              <h5 class="blue-text">Comparendos</h5>
              <div class="row">
                <div class="input-field col s12">
                  <table class="responsive-table  striped ">
                    <thead>
                      <tr>
                        <th>Comparendo</th>
                        <th>Secretaria</th>
                        <th>Fecha</th>
                        <th>F. Notificación</th>
                        <th>Nombre Infractor</th>
                        <th>Estado</th>
                        <th>infracción</th>
                        <th>Valor Multa</th>
                        <th>Valor Adicional</th>
                        <th>Total</th>
                        <th>Valor a Pagar</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>11000000010</td>
                        <td>Bogota D.C</td>
                        <td>1/0/2012</td>
                        <td>12/02/2016</td>
                        <td>LEASING BANCOLOMBIA</td>
                        <td>Pendiente</td>
                        <td>C02</td>
                        <td>283,400.00</td>
                        <td>1,00</td>
                        <td>283,400.00</td>
                        <td>283,400.00</td>

                      </tr>
                      <tr>

                        <td>1100000001</td>
                        <td>Bogota D.C</td>
                        <td>1/0/2012</td>
                        <td>12/02/2016</td>
                        <td>LEASING BANCOLOMBIA</td>
                        <td>Pendiente</td>
                        <td>C02</td>
                        <td>283,400.00</td>
                        <td>1,00</td>
                        <td>283,400.00</td>
                        <td>283,400.00</td>

                      </tr>

                      <tr>

                        <td>1100000001</td>
                        <td>Bogota D.C</td>
                        <td>1/0/2012</td>
                        <td>12/02/2016</td>
                        <td>LEASING BANCOLOMBIA</td>
                        <td>Pendiente</td>
                        <td>C02</td>
                        <td>283,400.00</td>
                        <td>1,00</td>
                        <td>283,400.00</td>
                        <td>283,400.00</td>

                      </tr>

                      <tr>

                        <td>1100000001</td>
                        <td>Bogota D.C</td>
                        <td>1/0/2012</td>
                        <td>12/02/2016</td>
                        <td>LEASING BANCOLOMBIA</td>
                        <td>Pendiente</td>
                        <td>C02</td>
                        <td>283,400.00</td>
                        <td>1,00</td>
                        <td>283,400.00</td>
                        <td>283,400.00</td>

                      </tr>

                      <tr>

                        <td>1100000001</td>
                        <td>Bogota D.C</td>
                        <td>1/0/2012</td>
                        <td>12/02/2016</td>
                        <td>LEASING BANCOLOMBIA</td>
                        <td>Pendiente</td>
                        <td>C02</td>
                        <td>283,400.00</td>
                        <td>1,00</td>
                        <td>283,400.00</td>
                        <td>283,400.00</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  <script>
    $(".button-collapse").sideNav();
  </script>