.padding-header{
    padding: 10px;
}
.filter-icon{
    font-size: 18px;
}
.search-results {
    height: 35rem;
    overflow: auto;
    overflow-x: hidden;
}
.title-table{
    margin-bottom: 0px;
}
.white-background{
    background-color: white;
}