<app-home></app-home>
<div class="container justify-content-md-center justify-content-sm-center justify-content-lg-center">
  <div class="row">
    <h4 class="col-xs-12 col-md-12 col-sm-12 col-lg-12">Consultar Vehículos</h4>
    <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
      <div class="row">
        <div class="col-md-4 col-sm-12 col-lg-4 padding-header">
          <b>Total ponderado: </b> $ {{totalPonderado | number:'.2-2'}}
        </div>
        <div class="col-md-4 col-sm-12 col-lg-4 padding-header">
          <b>Numero de Comparendos: </b> {{totalComparendos}}
        </div>
        <div class="col-md-4 col-sm-12 col-lg-4 padding-header">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Busqueda por Placa" (keyup)="filtrarTabla(this.value)" name="filtro"
              [(ngModel)]="filtro" maxlength="6">
            <span class="input-group-addon" id="basic-addon1"><i class="material-icons filter-icon">search</i></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
    <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 search-results" infinite-scroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="15">
      <table class="table table-bordered table-striped">
        <thead>
          <tr class="bg-primary">
            <th>
              Placa
            </th>
            <th>
              Ubicacion
            </th>
            <th>
              Comparendos
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let vehiculo of vehiculos ; let i = index">
            <td>
              {{vehiculo.licensePlate}}
            </td>
            <td>
              <span *ngIf="vehiculo.financeSecretariat != null">{{vehiculo.financeSecretariat}}</span>
            </td>
            <td>
              <button class="btn pull-right" (click)="detalleVehiculo(vehiculo.licensePlate)" *ngIf="vehiculo.taxes != null">
                <i class="material-icons filter-icon">description</i>{{vehiculo.taxes.length}}
              </button>
            </td>
          </tr>
          <tr *ngIf="vehiculos.length == 0">
            <td colspan="4">
              <span><b>No se han encontrado resultados</b></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br>
  <div class="row text-right">
    <div class="col-md-12">
      <button class="btn btn-primary col-xs-12 col-sm-2 col-md-2 col-lg-2 pull-right" (click)="notificarComparendos()">Enviar Reporte</button>
    </div>
  </div>
</div>