<app-home></app-home>
<div class="container">
  <div class="section">

    <!--Form Advance-->
    <div class="row">
      <div class="col s12 m12 l12">
        <div class="card-panel hoverable">
          <h4 class="grey-text">Consultar Vehículos</h4>
          <div class="divider"></div><br>
          <div class="row">
            <form class="col s12">
              <div class="input-field col s12">
                <table class="table search-table inner    striped">
                  <thead>
                    <tr>
                      <th>Placa</th>
                      <th>Modelo</th>
                      <th>Tipo</th>
                      <th>Marca</th>
                      <th>Año</th>
                      <th>Sitio Registro</th>
                      <th>Usuario</th>
                      <th>Comparendos</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let vehiculo of vehiculos; let i = index">
                      <td>{{vehiculo.placa}}</td>
                      <td>{{vehiculo.modelo}}</td>
                      <td>{{vehiculo.tipoVehiculo}}</td>
                      <td>{{vehiculo.marca}}</td>
                      <td>{{vehiculo.year}}</td>
                      <td>{{vehiculo.lugarExpedicion}}</td>
                      <td>{{vehiculo.usuario.nombre}} {{vehiculo.usuario.apellido}}</td>
                      <td class="center-align" *ngIf="vehiculo.comparendos == null">
                        <button type="button" class="btn-floating btn-small waves-effect waves-light grey" disabled>
                            <i class="large material-icons">search</i>
                        </button>
                      </td>
                      <td class="center-align" *ngIf="vehiculo.comparendos != null">
                        <button type="button" 
                          class="btn-floating btn-small waves-effect waves-light" (click)="openModal(i)">
                            <i class="large material-icons">search</i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div id="comparendoModal" class="modal" materialize="modal" 
      [materializeParams]="[{dismissible: false}]" [materializeActions]="modalComparendo">
      <div class="modal-header center-align">
        <h4 class="grey-text text-darken-1">Comparendos</h4>
      </div>
      <div class="modal-content">
        <div class="row">
          <table class="table search-table inner striped">
            <thead>
              <tr>
                <th>Numero</th>
                <th>Fecha</th>
                <th>Valor</th>
                <th>Estado</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let comparendo of comparendosVisibles">
                <td>
                  {{comparendo.numero}}
                </td>
                <td>
                  {{comparendo.fecha | date: 'dd/MM/yyyy'}}
                </td>
                <td>
                  {{comparendo.total}}
                </td>
                <td>
                  {{comparendo.estado}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>