<app-home></app-home>
<br>
<div class="container-fluid">

  <form class=" form-horizontal" action=" " method="post" id="contact_form">
    <fieldset>

      <!-- Form Name -->
      <legend>Ingresar un nuevo Vehículo</legend>


      <div class="form-group">
        <label class="col-md-4 control-label">Placa</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Placa" name="placa" [(ngModel)]="placa">
            <span class="input-group-addon"><i class="material-icons">directions_car</i></span>

          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label">Lugar de Expedición</label>
        <div class="col-md-4 selectContainer">
          <div class="input-group">
            <select [(ngModel)]="lugar_expedicion" name="lugar_expedicion" class="form-control selectpicker">
                <option value="" selected="true" >Lugar de Expedición</option>
                <option value="Bogotá D.C">Bogotá D.C</option>   
                <option value="Medellín">Medellín</option>       
            </select>
            <span class="input-group-addon"><i class="material-icons">place</i></span>
          </div>
        </div>
      </div>


      <div class="form-group">
        <label class="col-md-4 control-label">Nombres</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">

            <input [(ngModel)]="nombres" name="nombres" placeholder="Nombres" class="form-control" type="text">
            <span class="input-group-addon"><i class="material-icons">person_pin</i></span>
          </div>
        </div>
      </div>

      <!-- Text input-->

      <div class="form-group">
        <label class="col-md-4 control-label">Apellidos</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <input [(ngModel)]="apellidos" name="apellidos" placeholder="Apellidos" class="form-control" type="text">
            <span class="input-group-addon"><i class="material-icons">person_pin</i></span>

          </div>
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-4 control-label">E-Mail</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <input [(ngModel)]="email" name="email" placeholder="E-Mail" class="form-control" type="text">
            <span class="input-group-addon"><i class="material-icons">email</i></span>

          </div>
        </div>
      </div>


      <!-- Text input-->

      <div class="form-group">
        <label class="col-md-4 control-label">Teléfono</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">

            <input [(ngModel)]="telefono" name="telefono" placeholder="Teléfono" class="form-control" type="text">
            <span class="input-group-addon"><i class="material-icons">phone</i></span>
          </div>
        </div>
      </div>

      <!-- Select Basic -->
      <div class="form-group">
        <label class="col-md-4 control-label">Tipo de Identificación</label>
        <div class="col-md-4 selectContainer">
          <div class="input-group">

            <select [(ngModel)]="tipo_identificacion" name="tipo_identificacion" class="form-control selectpicker">
              <option value="" selected="true">Tipo de Identificación</option>
              <option value="Cedula de Ciudadanía">Cedula de Ciudadanía</option>
              <option value="Cédula de Extranjería">Cédula de Extranjería</option>
              <option value="Carné Diplomatico">Carné Diplomatico</option>
            </select>
            <span class="input-group-addon"><i class="material-icons">list</i></span>
          </div>
        </div>
      </div>


      <div class="form-group">
        <label class="col-md-4 control-label">Identificación</label>
        <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
            <input name="identificacion" [(ngModel)]="identificacion" placeholder="Identificación" class="form-control" type="text">
            <span class="input-group-addon"><i class="material-icons">perm_identity</i></span>

          </div>
        </div>
      </div>

      <!-- Button -->
      <div class="form-group">
        <label class="col-md-4 control-label"></label>
        <div class="col-md-4">
          <button (click)="agregarVehiculos()" class="btn btn-primary">Agregar Vehiculo <span></span></button>
        </div>
      </div>

    </fieldset>
  </form>
</div>

<!-- /.container -->