.centralFrame{
    background-color: #efefef;
    position: relative;
    top: 150px;
}
.currentFrame{
    height: 100%;
}
.modal-header{
    padding:4%;
}
.modal{
    background-color: #efefef
}
a{
    cursor: pointer;
}