<style type="text/css">
  .section h5 {
    font-size: 1.2rem;
    padding-bottom: 0.2rem;
    border-bottom: 3px solid #00bcd4;
    ;
  }
  body{
    background-image: url('/assets/image/square_bg.png');
    height: 100%;
}

  blockquote {

    border-left: 5px solid #00bcd4;
    /* Just change the color value and that's it*/
  }
</style>
 <app-home></app-home>
<div class="container">
  

  <div class="section">
 
    <!--Form Advance-->
    <div class="row">
      <div class="col s12 m12 l12">
        <div class="card-panel hoverable">
          <h4 class="header2">Asociar Vehiculos</h4>
          <div class="row">
            <form class="col s12">
              <blockquote>
                <div class="row">
                  <div class="input-field col s12">
                    <input id="first_name" type="text">
                    <label for="first_name">Placa</label>
                  </div>
                </div>
              </blockquote>
              <div class="row">
                <div class="row">
                  <div class="input-field col s12">
                    <button class="btn cyan waves-effect waves-light " type="submit" name="action">Aceptar
                            <i class="mdi-content-send "></i>
                          </button>
                  </div>
                </div>
              </div>


              <h5>Impuestos</h5>
              <div class="row">
                <div class="input-field col s12">
                  <table class="responsive-table  striped ">
                    <thead>
                      <tr>
                        <th></th>
                        <th>Vigencia</th>
                        <th>Estado</th>
                        <th>Descripción</th>
                        <th>Soporte</th>
                        <th>Valor Pagar</th>
                        <th>Fecha de Pago</th>
                        <th>Entidad</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <input class="filled-in " id="id_terms_accepted1" name="terms_accepted1" type="checkbox">
                          <label for="id_terms_accepted1"></label>
                        </td>
                        <td>2014</td>
                        <td>Pendiente</td>
                        <td>Reporte</td>
                        <td>115313938</td>
                        <td>200000</td>
                        <td>04/07/2012</td>
                        <td>HELM BANK</td>
                      </tr>
                      <tr>
                        <td>
                          <div class="checkbox-field required" id="id_terms_accepted_container2">
                            <input class="filled-in " id="id_terms_accepted2" name="terms_accepted2" type="checkbox">
                            <label for="id_terms_accepted2">             
                            </label>
                          </div>
                        </td>
                        <td>2014</td>
                        <td>Pendiente</td>
                        <td>Reporte</td>
                        <td>115313938</td>
                        <td>200000</td>
                        <td>04/07/2012</td>
                        <td>HELM BANK</td>
                      </tr>
                      <tr>
                        <td>
                          <div class="checkbox-field  required" id="id_terms_accepted_container3">
                            <input class="filled-in " id="id_terms_accepted3" name="terms_accepted3" type="checkbox">
                            <label for="id_terms_accepted3">             
                            </label>
                          </div>
                        </td>
                        <td>2014</td>
                        <td>Pendiente</td>
                        <td>Reporte</td>
                        <td>115313938</td>
                        <td>200000</td>
                        <td>04/07/2012</td>
                        <td>HELM BANK</td>
                      </tr>
                      <tr>
                        <td>
                          <div class="checkbox-field required" id="id_terms_accepted_container4">
                            <input class="filled-in " id="id_terms_accepted4" name="terms_accepted4" type="checkbox">
                            <label for="id_terms_accepted4">             
                            </label>
                          </div>
                        </td>
                        <td>2014</td>
                        <td>Pendiente</td>
                        <td>Reporte</td>
                        <td>115313938</td>
                        <td>200000</td>
                        <td>04/07/2012</td>
                        <td>HELM BANK</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s6">
                  <button class="btn cyan waves-effect waves-light center" type="submit" name="action">OK
                            <i class="mdi-content-send center"></i>
                          </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  <script>
    $(".button-collapse").sideNav();
  </script>