<style type="text/css">
  .section h5 {
    font-size: 1.2rem;
    padding-bottom: 0.2rem;
    border-bottom: 3px solid #00bcd4;
    ;
  }

  blockquote {

    border-left: 5px solid #00bcd4;
    /* Just change the color value and that's it*/
  }
</style>

<app-home></app-home>
<div class="container">
  <div class="section">

    <button md-menu-item>Item 1</button>
    <button md-menu-item>Item 2</button>
    <div class="row">
      <div class="col s12 m12 l12">
        <div class="card-panel hoverable">
          <h4 class="header2">Obtener Información Batch </h4>
          <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="file-field input-field col s12">
                  <div class="btn">
                    <span>Seleccionar Archivo</span>
                    <input type="file">
                  </div>
                  <div class="file-path-wrapper">

                    <input class="ng-hide" id="input-file-id" multiple type="file" />
                    <label for="input-file-id" class="md-button md-raised md-primary"></label>

                  </div>
                </div>
              </div>
              <div class="row">
                <div class="row">
                  <div class="input-field col s12">

                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  <script>
    $(".button-collapse").sideNav();
  </script>