<app-home></app-home>
<form>
  <div class="container">
    <div class="row">
      <h4 class="col-12">Detalles del Vehiculo: <b>{{placa}}</b></h4>
    </div>
    <div class="row">
      <div class="col-12">
        <table class="table table-striped">
          <thead>
            <tr class="bg-primary">
              <th colspan="4">
                Comparendos Vigentes
              </th>
            </tr>
            <tr>
              <th>
                Comparendo
              </th>
              <th>
                Ubicacion
              </th>
              <th>
                Codigo
              </th>
              <th>
                Valor
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let comparendo of comparendos">
              <td>
                {{comparendo.numero}}
              </td>
              <td>
                {{comparendo.direccion}}
              </td>
              <td>
                {{comparendo.codigo}}
              </td>
              <td>
                {{comparendo.total}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</form>