<app-home></app-home>
<form>
  <div class="container">
    <div class="row">
      <h4 class="col-md-12 col-sm-12 col-lg-12 col-xs-12">Vehiculo: <b>{{placa}}</b></h4>
    </div>
    <ngb-alert [dismissible]="false" type="warning" *ngIf="errorVehiculo">
      <i class="material-icons filter-icon">warning</i> No se ha podido consultar la informacion del usuario.
    </ngb-alert>
    <div class="row" *ngIf="vehiculo != null">
      <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
        <fieldset class="border padding">
          <b>Nombre:</b> {{vehiculo.customer.firstName}} {{vehiculo.customer.surname}}
          <br><b>Correo:</b> {{vehiculo.customer.email}}
          <br><b> Telefono:</b> {{vehiculo.customer.cellPhone}}
          <br>
        </fieldset>
      </div>
    </div>
    <br>
    <b>Total adeudado: </b> $ {{totalAdeudado | number:'.2-2'}}
    <div class="row">
      <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 search-results" infinite-scroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="15">
        <table class="table table-bordered table-striped" *ngIf="comparendos.length > 0">
          <thead>
            <tr class="bg-primary">
              <th colspan="2">
                Comparendos
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let comparendo of comparendos">
              <td>
                <div class="row">
                  <div class="col-sm-5 col-xs-12 col-md-5 col-lg-5">
                    <!--{{comparendo.codigo}} -->
                    <p><b>Codigo:</b> {{comparendo.numero}}</p>
                    <p><b>Valor:</b> $ {{comparendo.total | number:'.2-2'}}</p>
                    <p><b>Estado:</b> {{comparendo.estado}}</p>
                    <p><b>Fecha de radicacion:</b> {{comparendo.fecha | date:'dd/MM/yyyy'}}</p>
                  </div>
                  <div class="col-sm-4 col-xs-12 col-md-4 col-lg-4">
                    <p><b>Descripcion:</b> Presentar licencia de conducción adulterada o ajena, lo cual dará lugar a la inmovilización del vehículo.</p>
                  </div>
                  <div class="col-sm-3 col-xs-12 col-md-3 col-lg-3">
                    <button class="btn btn-primary pull-right col-xs-12 col-md-3 col-sm-3 col-lg-3" (click)="detalleNotificaciones(comparendo.numero)">
                      <i class="material-icons filter-icon">search</i>
                    </button>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="table table-bordered table-striped" *ngIf="impuestos.length > 0">
          <thead>
            <tr class="bg-primary">
              <th colspan="2">
                Impuestos
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let impuesto of impuestos">
              <td>
                <div class="row">
                  <div class="col-sm-5 col-xs-12 col-md-5 col-lg-5">
                    <!--{{comparendo.codigo}} -->
                    <p><b>Codigo:</b> {{impuesto.nroReferencia}} </p>
                    <p><b>Valor:</b> $ 214,000</p>
                    <p><b>Estado:</b> Pendiente </p>
                    <p><b>Fecha:</b> {{impuesto.fechaPresentacion}} </p>
                  </div>
                  <div class="col-sm-4 col-xs-12 col-md-4 col-lg-4">
                    
                  </div>
                  <div class="col-sm-3 col-xs-12 col-md-3 col-lg-3">
                    <button class="btn btn-primary pull-right col-xs-12 col-md-3 col-sm-3 col-lg-3">
                      <i class="material-icons filter-icon">search</i>
                    </button>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</form>