<app-home>
</app-home>

<div class="container-fluid">
  <div class="container">
    <!--<h4> Dashboard </h4> -->
    <br>
    <div class="row tile_count indicadores">
      <div class="col-md-3 col-sm-3 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa  fa-car"></i> Multas Activas</span>
        <div class="count">500</div>
        <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>4% </i>Del Mes Pasado</span>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa  fa-car"></i> Multas proximas a vencer</span>
        <div class="count">210</div>
        <span class="count_bottom">En el mes de Agosto</span>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-usd"></i> Total Multas</span>
        <div class="count">$100.000.000</div>
        <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>3% </i> Del Mes Pasado</span>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-money"></i> Total Recaudado</span>
        <div class="count green">$80.000.000</div>
        <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>3% </i> Del Mes Pasado</span>
      </div>

    </div>
    <div class="row tile_count indicadores">
      <div class="col-md-3 col-sm-3 col-xs-12 tile_stats_count">
        <span class="count_top"><i class="fa fa-credit-card"></i> Impuestos</span>
        <div class="count">500</div>
        <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>4% </i>Del Mes Pasado</span>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12 tile_stats_count">
        <span class="count_top"><i class="fa fa-credit-card"></i> Impuestos proximos a vencer</span>
        <div class="count">230</div>
        <span class="count_bottom"> En el Mes de Agosto</span>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12 tile_stats_count">
        <span class="count_top"><i class="fa fa-usd"></i> Total Impuestos</span>
        <div class="count">$230.000.000</div>
        <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>3% </i> Del Mes Pasado</span>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12 tile_stats_count">
        <span class="count_top"><i class="fa fa-money"></i> Total Recaudado</span>
        <div class="count green">$125.000.000</div>
        <span class="count_bottom"><i class="green"><i class="fa fa-sort-desc"></i>3% </i> Del Mes Pasado</span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <chart [options]="options"></chart>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <chart [options]="options7">
          <series (mouseOver)="onSeriesMouseOver($event)">
          </series>
        </chart>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <chart [options]="options5"></chart>
      </div>
      <div class="col-sm-6">
        <chart [options]="options2">
        </chart>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <iframe name="result" width="100%" height="600px" allowfullscreen=""
          frameborder="0" src="https://fiddle.jshell.net/michaelwwe/bwpr3yp6/3/show/"></iframe>        
      </div>
    </div>
    <div>
    </div>
  </div>
</div>