<nav class="navbar navbar-default navbar-inverse" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand"> 
     </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav ">
        <li class="text-center">
          <a routerLink="/dashboard">
            <i class="material-icons">dashboard</i>
               <p>Estadisticas</p>
            </a>
        </li>
        <li class="text-center">
          <a routerLink="/consultar-vehiculos">
             <i class="material-icons">directions_car</i>
               <p>Vehiculos</p>
            </a>
        </li>
        <li class="text-center">
          <a routerLink="/informacion-batch">
             <i class="material-icons">file_upload</i>
               <p>Carga de Archivos</p>
            </a>
        </li>
        <li class="text-center">
          <a routerLink="/consultar_notificaciones">
            <i class="material-icons">alarm</i>
            <p>Notificaciones</p>
          </a>
        </li>
        <li class="text-center">
          <a routerLink="/administracion">
            <i class="material-icons">assessment</i>
            <p>Administracion</p>
          </a>
        </li>

      </ul>
      <ul class="nav navbar-nav  navbar-right">
        <li class="text-center">
          <a routerLink="/login">
          <i class="material-icons">power_settings_new</i>
            <p>Cerrar Sesión</p>
          </a>
        </li>
      </ul>
    </div>
  </div>

</nav>
<router-outlet></router-outlet>