<nav class="navbar navbar-default navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav " >
        <li class="active"><a>Dashboard</a></li>
        <li><a routerLink="/estado-cuenta" >Estado de Cuenta</a></li>
        <li><a routerLink="/consultar-vehiculos" >Consultar Vehiculos</a></li>
        <li><a routerLink="/asociar-vehiculos"> Asociar Vehiculo</a></li>
        <li><a routerLink="/informacion-batch">Informacion Batch</a></li>
      </ul>
       <ul class="nav navbar-nav  navbar-right">
        <li class="dropdown" >
          <a href="#" class="dropdown-toggle " data-toggle="dropdown">
            Usuario 
            <span class="caret">
              </span>
              </a>
          <ul class="dropdown-menu" role="menu">
            <li><a  >Ver Perfil</a></li>
            <li class="divider"></li>
            <li><a routerLink="/login" >Cerrar Sesión</a></li>
          </ul>
        </li>
       </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>


<!--
    <nav class="cyan">
      <div class="nav-wrapper">
        <a class="brand-logo"><img src="/assets/image/logo.png" width="60">   </a>
        <button class="sidebar-collapse hide-on-large-only collapseButton" materialize="sideNav" [materializeParams]="[{edge: right,draggable: true}]"
          [materializeActions]="sideNavActions" data-activates="slide-out">
                <i class="small material-icons">menu</i>
     </button>

        <a></a>
        <ul class="right hide-on-med-and-down">

          <li><a routerLink="/consultar-vehiculos" routerLinkActive="active">Consultar Vehiculos</a></li>
          <li><a routerLink="/estado-cuenta" routerLinkActive="active">Estado Cuenta</a></li>
          <li><a routerLink="/asociar-vehiculos" routerLinkActive="active">Asociar Vehiculos</a></li>
          <li><a routerLink="/informacion-batch" routerLinkActive="active">Informacion Batch</a></li>
        </ul>
        <ul class="side-nav" id="slide-out">
          <li><a routerLink="/consultar-vehiculos" routerLinkActive="active">Consultar Vehiculos</a></li>
          <li><a routerLink="/estado-cuenta" routerLinkActive="active">Estado Cuenta</a></li>
          <li><a routerLink="/asociar-vehiculos" routerLinkActive="active">Asociar Vehiculos</a></li>
          <li><a routerLink="/informacion-batch" routerLinkActive="active">Informacion Batch</a></li>
        </ul>
      </div>
    </nav> -->


<router-outlet></router-outlet>